*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.select-calculator{margin-bottom: 200px;}

.main-calculator, .form-calculator, .results-calculator, .menu{
    width: 90%;
    margin:auto;
    background-color: rgb(255, 255, 255);
}


.results-calculator{
    background-color: rgb(245, 245, 245);
    text-align: justify;
    padding: 2%;
    border-radius: 2px;
    margin-bottom: 2em;
}



.menu{
    width: 100%;
    padding-right: 1px;
    padding-left: 1px;
    background-color: rgb(250, 250, 250);
    display: flex;
    display: inline-flex;
    justify-content: space-around;
    flex-wrap: wrap;

    margin-bottom: 2em;
}

.menu-item{
    width: 20%;
    cursor:pointer;
    transition: 0.1s;
    text-decoration: none;
    border-radius: 0 !important;
}
.menu-item:hover{
    background-color: rgb(225, 225, 225) !important;
}

.menu-item:focus{
    background-color: rgb(215, 215, 215) !important;
    border: none !important;
}

.menu-item-text{
    font-size: 12px;
    font-weight: 500;
    color: rgb(70, 70, 70);
    text-decoration: none;
}


.li{text-align: left;}

.table-suma-data,tr,td{
    margin: auto;
    border: solid;
    margin-bottom: 1em;
    border-color: rgb(230, 230, 230);
    text-align: center;
}

th{
    font-weight: 500 !important;
}

.table-suma-data-number{
    width: 80%;
    letter-spacing: 5px;
}

.footer{
    width: 100%;
    background-color: rgb(24, 24, 24);
    color:rgb(255, 255, 255);
    padding: 2%;
    height: auto;
    display:flex;
    flex-direction:column;
    align-items: center;
    flex-wrap:wrap;
    
}

.social-media{
    width: 30%;
    padding: 2%;
    height: auto;
    display: flex;
    display: inline-flex;
    justify-content:space-around;
    flex-wrap: wrap;

}

h1{
    font-size: 32px
}


.fill-white{
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(319deg) brightness(102%) contrast(101%);
}

.img-container{width: 10%;}

.github-logo:hover{
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(319deg) brightness(102%) contrast(101%);
}
.github-logo{
    filter: invert(99%) sepia(4%) saturate(692%) hue-rotate(231deg) brightness(115%) contrast(88%);
}

@media all and (max-width:600px){
    .main-calculator, .form-calculator, .results-calculator{width: 95%;}
    .menu{width: 100%; padding: 0;}
    .menu-item{width: 100%;}
    .social-media{width: 90%;}
    .results-calculator{margin-bottom: 1em; margin-top: 1em;}
    .table{width: 100% !important;}
    .table-suma-data-number{width: 100%; letter-spacing: 1px; font-size: smaller;}
}